body{
  background-color: white;
  margin: auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;


}

.header {

  box-shadow: 1px 1px 20px #DAE5D0;
min-width: 100%;
  padding: 0.5rem 0;
margin: 0;

}

.firstContainer{
  margin: 0 15% 0 15%;
  display: flex;

}

.flex {
  display: flex;

}
.angelsHub{
  float: left;
  font-weight: bold;
  font-size: 1.5rem;
  margin-right: 40rem;
  color:#3BACB6;
  cursor: pointer;
}



.moreCourses{
color: #3BACB6;
cursor: pointer;
}

.moreCourses:hover {
  background-color: #EFFFFD;
}
.signIn{

  background-color: #3BACB6;
  color: white;

  border-radius: 2rem;
  border: #3BACB6;

  height: 2.5rem;
  width: 5rem;
  margin-top: 1rem;
margin-left: 2rem;
cursor: pointer;
}

#searchEmployee{

  margin: 1rem 0 3rem;
  width: 27rem;
  height: 2rem;
  border-radius: 0.3rem;
  border: 1px solid #8f8f8f;
  outline-color: #C2DED1;
  padding-left: 10px;


}

#searchIcon{
  padding: 0;
  margin: 0;
  position: relative;
  right: 2rem;
  color: gray;

}

img {
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  margin:20px 20px 2px;
}

.title {
  color: #3BACB6;
}

.flex-container{
  display:flex;
}

.pictureWrap {
  margin: 0 15% 0 15%;

}

.position{
  color:  #3A3845;
}



.job_type{

  background-color: #3A3845;
  color: #F7F5F2;
  padding: 0.5rem 2rem;
  width: 10rem;
  border-radius: 2rem;

  margin-left: 2rem;

}


.employee{
  margin: 1rem;
  min-width: 18em;
  height: 20rem;

  box-shadow: 5px 5px 5px 5px #F1EEE9;
  border-radius: 1rem;
  color: #3BACB6;
  cursor: pointer;
  text-align:center;


}


.employee:hover  {

   background-color: #bc658d;
   transition: .2s ease-in;

}

.employee:hover .employeeName {
  color: #fff;
  transition: .2s ease-in;

}

.employee:hover .position {
  color: #fff;
   transition: .2s ease-in;

}

.employee:hover .job_type {
  background-color: #bc658d;
     border: 1px solid #fff;


}




.footer{
  /* box-shadow: 20px #DAE5D0; */
min-width: 100%;
  padding: 2rem 0;
margin: 30px 0;

}
